<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pagina para ir aprendiendo HTML y CSS">
    <meta name="keywords" content="HTML, CSS ,JS">
    <meta name="author" content="Eder Perez">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Pagina 3</title>
    <style>

    </style>
</head>
<body>
    <h1>Pagina 3</h1>
    <style>
        body {
            background-color: plum;
        }
    </style>
    <p>Este es el parrafo de la pagina 3</p>
    <a href="../index.html">Volver a la pagina Principal (pagina 1) </a>
     <ul>
        <li>
            <a href="../index.html">Inicio</a>
        </li>
        <li>
            <a href="views/pagina2.html">Pagina 2</a>
        </li>
        <li>
            <a href="views/pagina4.html">Pagina 4</a>
        </li>
    </ul>
</body>
</html>